*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/gradle/libs.versions.updates.toml
# Android related
# **/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
# **/android/gradlew
# **/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
