*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/gradle/libs.versions.updates.toml
# Android related
# **/android/**/gradle-wrapper.jar
**/.gradle
**/captures/
# **/android/gradlew
# **/android/gradlew.bat
**/local.properties
**/GeneratedPluginRegistrant.java
